.form-input-spacing {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.form-input-spacing > label {
  flex: 1;
}

.form-input-spacing > input {
  flex: 2;
}

.label-spacing {
  margin-right: 10px;
}

.exercise-form-input-fields {
  max-width: 400px;
}

.form-input-extra-field {
  flex: 1;
}

.time-label {
  width: 90px;
}

.time-input {
  width: 180px;
}

.exercise-new-container-spacing {
    max-width: 600px;
    padding-top: 40px;
    padding-bottom: 20px;
}
