.table-styling {
  border-collapse: collapse;

  table, th, td {
    padding: 10px;
    border: 1px solid black;
  }
}

.center-weight-data-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 62%;
  margin: 0 auto;
}

.center-contents {
  text-align: center;
}

.activity-container-spacing {
  max-width: 487px;
  padding: 40px 0;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 487px;
}

.page-title-text-width {
  width: 50%;
}

.align-back-button {
  display: flex;
  align-items: center;
  width: 25%;
}

.activity-name {
  margin-bottom: 23px;
}

.activity-save-button {
  margin: 0 auto;
  width: 50px;
}

.center-view-contents {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: white;
  border-radius: 50px;
  box-shadow: 6px 7px 5px grey;
}

.exercise-new-title-text {
  font-size: 29px;
}

.create-exercise-button {
  margin-bottom: 23px;
  display: flex;
  justify-content: center;
}

.pink-button {
  background-color: #F5A090;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.signed-in-as-text {
  color: white;
  font-size: 20px;
}
