.table-styling {
  border-collapse: collapse;

  table, th, td {
    padding: 10px;
    border: 1px solid black;
  }
}

.center-weight-data-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 62%;
  margin: 0 auto;
}

.center-contents {
  text-align: center;
}

.center-exercise-view-contents {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 50px;
  box-shadow: 6px 7px 5px grey;
}

.exercise-new-title-text {
  font-size: 29px;
}

.create-exercise-button {
  margin-bottom: 23px;
  display: flex;
  justify-content: center;
}

.pink-button {
  background-color: #F5A090;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
