<div class='center-contents'>
  <h1 class='page-title'>Welcome to Eren, the best app ever!</h1>
  <div>
    <%= link_to "Add Activity", new_activity_path, class: 'add-activity-button' %>
    <div class='center-weight-data-table'>
        <% @activities.each do |activity| %>
          <div class='activity-card'>
            <div class='activity-name'><%= link_to activity.name, activity_path(activity) %></div>
            <% if activity.exercises.present? %>
              <div><%= exercise_display_text(activity.exercises.last) %></div>
            <% else %>
              <div></div>
            <% end %>
            <div class='add-excercise'><%= link_to "Add Exercise", new_activity_exercise_path(activity) %></div>
          </div>
        <% end %>
    </div>
  </div>
</div>
