<div class='center-home-contents'>
  <h1>Welcome to Eren, the best app ever!</h1>
  <div>
    <%= link_to "Add Machine", new_machine_path, class: 'add-machine-button' %>
    <p>All Machines</p>
    <div class='center-weight-data-table'>
      <table class='table-styling'>
        <tr>
          <td>Machine</td>
          <td>Most Recent Exercise</td>
          <td>New Exercise</td>
        </tr>
        <% @machines.each do |machine| %>
          <tr>
            <td><%= machine.name %></td>
            <% if machine.exercises.present? %>
              <td><%= "#{machine.exercises.last.sets} sets of #{machine.exercises.last.reps} reps at #{machine.exercises.last.weight_value} #{machine.exercises.last.units}" %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= link_to "Add Exercise", new_machine_exercise_path(machine) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
