<div class='center-home-contents'>
  <h1>Welcome to Eren, the best app ever!</h1>
  <div>
    <%= link_to "Add Machine", new_machines_path, class: 'add-machine-button' %>
    <p>All Machines</p>
    <table class='table-styling'>
      <tr>
        <td>Machine</td>
        <td>Most Recent Exercise</td>
        <td>New Exercise</td>
      </tr>
      <% @machines.each do |machine| %>
        <tr>
          <td><%= machine.name %></td>
          <td></td>
          <td><%= link_to "Add Exercise", new_machines_exercises_path %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
