<div class='center-contents'>
  <% if @machine.exercises.present? %>
    <p><%= @machine.name %></p>
    <div class='center-weight-data-table'>
      <table class='table-styling'>
        <tr>
          <td>Exercises</td>
          <td>Created At</td>
        </tr>
        <% @machine.exercises.each do |exercise| %>
          <tr>
            <td><%= "#{exercise.sets} sets of #{exercise.reps} reps at #{exercise.weight_value} #{exercise.units}" %></td>
            <td><%= exercise.created_at.strftime('%a, %b %-d, %Y') %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <p><%= "No exercises found for #{@machine.name}." %></p>
  <% end %>
</div>
